@import url('https://css.gg/bee.css');
@import url('https://css.gg/ghost-character.css');
@import url('https://css.gg/debug.css');
@import url('https://css.gg/home.css');
@import url('https://css.gg/user-list.css');
@import url('https://css.gg/browser.css');
/* "below CSS adapted from https://css.gg under the MIT License" */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: url(../images/kyaw-tun-ECvYbWrTPNU-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: contain;
    background-attachment: fixed;
    padding: 30px;
    padding-top: 10px;
}

/*----------------header setting-------------*/
h1 {
    color: aliceblue;
}

header {
    display: flex;
    flex-direction: row;
}

/*-----------------------nav setting----------------------------*/

nav menu {
    display: flex;
    flex-direction: row;
}

nav a {
    display: flex;
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    margin-top: 18px;
    width: 80px;
    --ggs: 1.2;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}

nav a:hover {
    opacity: 1;
}

nav span {
    margin: 10px;
    position: relative;
    opacity: 0;
    transition: 0.2s;
    transform: translateY(-25px);
}

.globalnav__link:hover span {
    opacity: 1;
    transform: translateY(0.5px);
}

/*----------------------cards setting------------------------*/
.cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.cards .logo {
    --ggs: 1.5;
}

.cards {
    color: aliceblue;
    justify-content: center;
}

.card {
    grid-column: span 12;
    width: 350px;
    padding: 15px;
    justify-self: center;
}

.content1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(225, 225, 225, 0.25);
    margin: 25px;
    box-shadow: 5px 5px 35px rgba(225, 225, 225, 1);
    border-radius: 15px;
    padding-top: 25px;
    padding-bottom: 15px;
    opacity: 0.7;
    transition: 0.5s;
    z-index: 1;
    transform: translateY(50px);
}

.cards .card:hover .content1 {
    background-color: rgb(228, 203, 78);
    opacity: 1;
    transform: translateY(-25px);
}

.cards .card .content2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
    padding: 15px;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
    z-index: 1;
    transform: translateY(-80px);
}

.cards .card:hover .content2 {
    opacity: 1;
    transform: translateY(-50px);
}

.cards a {
    padding: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid rgb(255, 255, 255);
}

.cards a:hover {
    background: rgb(4, 148, 252);
}

/*-----------------footer setting-------------*/
footer {
    text-align: center;
    font-weight: bold;
}

.footer__link {
    display: flex;
    justify-content: center;
    transition: 0.5s;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transform: translateY(0px);
}

.footer__link:hover {
    transform: translateY(-5px);
}

/*-------------------adaptive design-------------*/
@media screen and (min-width: 50rem) {
    .card {
        grid-column: span 4;
    }
}