/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

body {
  background-color: #282c34;
  text-align: center;
}

.btn, .btn_1 {
  background-color: azure;
  border-radius: 1rem;
  border: none;
  font-weight: bold;
  font-size: large;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
}

h1 {
  color: azure;
  font-size: 55px;
}

.btn_1 {
  animation-duration: 3s;
  animation-name: fadein;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}